<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dplatform.flutter_agentweb">

    <application>
        <activity
            android:name=".ui.EasyWebActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTop" />
    </application>
</manifest>
